body {
     /* Семейство шрифтов */
    font-size: 20px; /* Размер основного шрифта в <p></p>  */
    background-color: #313131; /* Цвет фона веб-страницы */
    color: #d1d1d1; /* Цвет основного текста */ 
}
h1 {
    color: #08d5fd; /* Цвет заголовка */
    font-size: 50px; /* Размер шрифта в пунктах */
    font-family: Impact, fantasy; /* Семейство шрифтов */
}
h2 {
    color: #08d5fd; /* Цвет заголовка */
    font-size: 50px; /* Размер шрифта в пунктах */
    font-family: Impact, fantasy; /* Семейство шрифтов */
}
ul {
    color: #0048ff; /* Цвет текста в списке */
    font-size: 30px; /* Размер шрифта в пунктах */
        font-family: 'Segoe UI', Tahoma, Geneva, Courier, monospace; /* Современный и чистый шрифт */
}
ol {
    color: #0048ff; /* Цвет текста в списке */
    font-size: 30px; /* Размер шрифта в пунктах */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Courier, monospace; /* Стильный и читаемый шрифт */
}

@keyframes color-change {
  0%   { color: blue; }
  50%  { color: red; }
  100% { color: blue; }
}

font{
    /*color: #ff0000;  Цвет текста в списке */
    font-size: 30px; /* Размер шрифта в пунктах */
    font-family: Courier, monospace; /* Семейство шрифтов */
    
     
        
}
font:hover {
  animation: color-change 8s infinite;
}
.weather-widget {
  width: 500px;
  padding: 15px;
  border-radius: 15px;
  background: linear-gradient(135deg, #1900ff, hsl(225, 100%, 50%));
  color: white;
  font-family: Arial;
  box-shadow: 0 100px 150px rgba(0,0,0,0.2);
}


